* {
    box-sizing: border-box;
    font-family: ubuntu, sans-serif;
}

@font-face {
    font-family: ubuntu;
    src: url(/fonts/Ubuntu/Ubuntu-Light.ttf);
    src: url(assets/fonts/Ubuntu/Ubuntu-Light.ttf);
}



@media only screen and (max-width: 768px) {
    * {
      font-size: 8px;
    }
    
}

body {
    
    margin:0;
    height:100vh;
    background-image:
     linear-gradient(#297fca,#297fca),
     linear-gradient(to bottom left,transparent 49.8%,#297fca 50%);
    background-repeat:no-repeat;
    background-size:50.1% 100%; /* both gradient will fill 50% width and 100% height*/
    background-position:
      left, /* The first one placed on the left*/
      right /* The second one placed on the right*/
  }