<div class="container">
    <nav>
          <input type="checkbox" id="nav" class="hidden">
          <label for="nav" class="nav-btn">
                <i></i>
                <i></i>
                <i></i>
          </label>
          <div class="logo">
                <a href="#">FACTSLAND</a>
          </div>
          <div class="nav-wrapper">
                <ul>
                      <li><a routerLink="/home">Home</a></li>
                      <li><a routerLink="/facts/math">Math fact</a></li>
                      <li><a routerLink="/facts/trivia">Trivia fact</a></li>
                      <li><a routerLink="/facts/year">Year fact</a></li>
                      <li><a routerLink="/facts/date">Date fact</a></li>
                </ul>
          </div>
    </nav>
</div>