<div class="container">
    <nav>
          <input type="checkbox" id="nav" class="hidden">
          <label for="nav" class="nav-btn">
                <i></i>
                <i></i>
                <i></i>
          </label>
          <div class="logo">
                <a href="#">FACTSLAND</a>
          </div>
          <div class="nav-wrapper">
                <ul>
                      <li><a href="#">Home</a></li>
                      <li><a href="#">About</a></li>
                      <li><a href="#">Math fact</a></li>
                      <li><a href="#">Trivia fact</a></li>
                      <li><a href="#">Year fact</a></li>
                      <li><a href="#">Date fact</a></li>
                </ul>
          </div>
    </nav>
</div>